<div class="container">
    <div class="row">
        <div class="header-title text-center">
            <h1>App Blogs</h1>
        </div>
        <div class="search-bar mb-3 d-flex">
            <input class="form-control" #searchBox type="text" name="keySearch" (input)="onSearch(searchBox.value)"
                placeholder="Search...">
            <div class="col">
                <div ngbDropdown class="d-inline-block ms-3">
                    <button type="button" class="btn btn-outline-primary" id="dropdownBasic" ngbDropdownToggle>
                        Sort
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic">
                        <button ngbDropdownItem (click)='onOrder("title")'>Title</button>
                        <button ngbDropdownItem (click)='onOrder("createdAt")'>Create Date</button>
                    </div>
                </div>
            </div>
            <div class="col ms-3">
                <button type="button" class="btn btn-outline-primary btn-create" (click)="open()">New Blog</button>
            </div>
        </div>
        <div class="col-sm-1 col-md-12">
            <ul class="list-unstyled blog-list">
                <li class="media mb-4" *ngFor="let item of data">
                    <div class="d-flex justify-content-space media-item" (click)="open(item)">
                        <img class="align-self-center block-image" alt="..." [src]="item.image" width="128px" height="96px"
                            (error)="handleImageError(item)">
                        <div class="media-body ms-5">
                            <h5 class="mt-0 blog-list-item-title">{{item?.title}}</h5>
                            <p class="content-text m-0">{{item.content}}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" (click)="setPage(currentPage-1)" *ngIf="currentPage>1">Previous</a>
                    </li>
                    <li class="page-item" *ngFor="let page of pageLinks" [ngClass]="{'active': currentPage == page}">
                        <a class="page-link" (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" (click)="setPage(currentPage+1)"
                            *ngIf="currentPage<(keySearch.getValue() ? this.pages : this.totalPages)">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>